.homeContent {
    position: relative;
    padding: 20px;
    max-width: 1070px;
}

.container_widget {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 15px;
    gap: 20px;
}

.right_home {
    width: 65%;
}

.des_post,
.des_post p,
.des_post span {
    color: #000000 !important;
}

.left_home {
    width: calc(35% - 20px);
    /* border: 1px solid rgba(0, 0, 0, 0.05); */
    /* box-shadow: 0px 0px 80px rgb(0 0 0 / 2%), 0px 64.8148px 46.8519px rgb(0 0 0 / 2%), 0px 38.5185px 25.4815px rgb(0 0 0 / 1%), 0px 20px 13px rgb(0 0 0 / 1%), 0px 8.14815px 6.51852px rgb(0 0 0 / 1%), 0px 1.85185px 3.14815px rgb(0 0 0 / 0%); */
    /* border-radius: 20px; */
}

.content_left {
    word-break: break-word;
}

.title_left_home {
    color: #000;
    font-style: normal;
    font-weight: 500;
    border-bottom: 3px solid #8a8a8a;
    font-size: 28px;
    line-height: unset;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.title_content {
    color: #000;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    margin-bottom: 3px;
}

.text_content {
    color: #000;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    word-break: break-word;
}

.line_home {
    width: 100%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #8a8a8a;
}
.list_blog_home {
    flex-wrap: wrap;
    align-items: flex-start;
    display: flex;
    margin-bottom: 40px;
    margin-right: -30px;
}
.this_content_right {
    margin-bottom: 30px;
    float: left;
    border-radius: 20px;
    width: 50%;
}
.this_content_left {
    margin-bottom: 20px;
}
.item_blog_home {
    display: flex;
    flex-direction: column;
}

.title_blog {
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.3;
    color: #000000;
    margin: 0 0 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.title_blog_left {
    height: 40px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.3;
    color: #000000;
    margin: 0 0 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.date_post {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #82b440;
    justify-content: space-between;
}
.date_blog_home {
    font-weight: 400;
    font-size: 12px;
    color: #a0a0a0;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.this_content_right img {
    width: 90.5%;
    height: auto;
}

.des_post {
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    /* word-break: break-all; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 5px;
}

.link_detail {
    text-decoration: none;
    color: #5dc2a7;
    font-size: 14px;
    padding: 3px;
    cursor: pointer;
}

.load_more {
    background-color: #5dc2a7;
    border-radius: 15px;
    text-align: center;
    margin: 0 30px 20px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: 10px 0 10px 10px;
}

.linl_all_detail {
    position: relative;
    color: unset;
}
.infor_first_blog {
    position: absolute;
}

.title_blog_top {
    font-size: 27px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: initial;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.blog_top {
    background: #86d05f;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.blog_top img {
    width: 100%;
    margin-bottom: 10px;
}

.blog_top p {
    padding: 0 15px;
}
.blog_top p:hover {
    color: #009eff;
}
.link_fl {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.this_content_left img {
    width: 40%;
}

.title_blog_left {
    font-size: 16px;
    line-height: unset;
    margin-bottom: 10px;
}

.left_line {
    width: calc(60% - 10px);
    margin-left: auto;
}

.left_line .line_home {
    margin: 7px 0;
    background-color: #8a8a8a;
}

.fl_date {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fl_date p {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 10px;
    color: #86d05f;
}

.box_content_blog {
    padding-right: 25px;
    width: 100%;
    width: -webkit-fill-available;
    /* padding-right: 30px; */
}

.des_post p,
.des_post span {
    font-size: 14px !important;
    line-height: 21px !important;
    margin-top: 0 !important;
    text-align: left !important;
}

.banner_all {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.this_nanner_all {
    width: calc(50% - 4px);
}

.this_nanner_all img {
    width: 100%;
    /* border-radius: 8px; */
    height: 59px;
}

.img_qc_top {
    margin-bottom: 20px;
    /* height: 224px; */
}

.img_qc_bot {
    margin: 20px auto;
    display: flex;
    width: 100%;
    max-width: 320px;
    /* height: 280px; */
}

.this_content_right :hover .title_blog {
    color: #009eff !important;
}

/* .blog_top:hover .title_blog_top {
    color: #82b440 !important;
} */

.this_content_left:hover .title_blog {
    color: #009eff !important;
}

.slick_banner {
    margin-bottom: 20px;
}
.list_cate_home {
    margin-bottom: 40px;
}
.content_cate {
    display: flex;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
}
.title_cate {
    background: #eee;
    border-radius: 5px;
    margin-bottom: 30px;    
}
.title_cate_top {
    line-height: 36px;
    padding: 10px 15px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background-color: #86d05f;
    font-family: arial !important;
    font-weight: 700;
}
.left_content {
    width: 50%;
    padding: 0 15px;
}
.left_content:hover .big_title a {
    color: #009eff;
}
.right_content {
    width: 50%;
    padding: 0 15px;
    float: left;
}
.cont_thumb {
    position: relative !important;
}
.link_cate {
    position: absolute;
    position: absolute;
    z-index: 3;
    bottom: 10px;
    left: 10px;
    margin: 0;
    line-height: 1;
}
.link_cate a {
    padding: 0 5px;
    background-color: #005a607a;
    color: #ffffff;
    text-transform: uppercase;
}
.big_title {
    margin: 15px 0 5px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.big_title a {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4em;
    margin: 15px 0 5px;
    color: #29292f;
}
.big_sapo {
    color: #3e3e44;
    margin-top: 1em;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 14px !important;
    line-height: 1.6 !important;
}
.big_created {
    color: #a0a0a0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}
.btn_more {
    color: #53585c;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 11px;
    font-weight: 700;
    margin-top: 15px;
    padding: 6px 18px;
    border: 1px solid #e0e0e0;
}
.btn_more:hover {
    background: #86d05f;
    color: #fff;
}
.right_content .small_item {
    float: left;
    margin-bottom: 25px;
    /* display: flex; */
}
.small_item:hover .small_title p {
    color: #009eff;
}
.small_item .small_img {
    width: 120px;
    height: 79px;
    float: left;
}
.small_content {
    margin-left: 120px;
    padding-left: 15px;
}
.small_title {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.4em;
    margin: 0 0 5px;
    letter-spacing: normal;
    color: #29292f;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.small_date {
    font-weight: 400;
    color: #a0a0a0;
    font-size: 12px;
}


@media only screen and (max-width: 1280px) {
    .homeContent {
        padding: 20px 70px;
    }
}

@media only screen and (max-width: 1024px) {

    .homeContent {
        padding: 0 20px;
    }
    .small_title {
        font-weight: 700;
        line-height: 1.4em;
        margin: 0 0 5px;
        letter-spacing: normal;
        color: #29292f;
        /* text-align: left; */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        font-size: 13px !important;
    }
    .big_title a {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.4em;
        margin: 15px 0 5px;
        color: #29292f;
    }
    .link_cate a {
        font-size: 11px;
        padding: 0 5px;
        background-color: #005a607a;
        color: #ffffff;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 540px) {
    .main_content {
        padding: 80px 10px 0 10px;
    }
    .container_widget {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .banner_all {
        flex-direction: column;
        padding: 10px 0;
    }

    .this_nanner_all {
        width: 100%;
    }

    .left_home {
        width: -webkit-fill-available;
        padding: 0 10px;
    }

    .homeContent {
        padding: 0 15px;
    }

    .right_home {
        width: 100%;
    }

    .title_blog_top {
        font-size: 20px;
    }

    .blog_top {}

    .title_left_home {
        font-size: 22px;
    }

    .list_blog_home {
        flex-direction: column;
        /* padding: 0 20px; */
        margin-right: 0;
    }
    .this_content_right {
        width: 100%;
    }

    .this_content_right img {
        width: 100%;
        height: auto;
    }

    .title_blog {
        height: auto;
        font-size: 14px;
        line-height: unset;
    }

    .link_fl {
        gap: 10px;
    }

    .des_post {
        display: none;
    }

    .line_home {
        margin: 10px 0;
    }

    .this_content_left img {
        width: 50%;
    }

    .left_line {
        width: calc(50% - 10px);
    }

    .date_post {
        margin-bottom: 5px;
    }
    .content_cate {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .left_content {
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
    }
    .right_content {
        width: 100%;
        padding: 0;
    }
    .btn_more {
        margin-top: 0;
    }
    .big_sapo {
        color: #3e3e44;
        margin-top: 5px;
    }
    .big_title a {
        font-size: 16px;
    }
}